#body{
    background-color: rgb(220, 220, 220);
}

#main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 250px;
}

#welcome-el{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
}

#increment-button{
    font-variant: small-caps;
    font-size: 18px;
    font-weight: bold;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 10px;

    border-width: 2px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border-style: none;

    transition: 0.3s;
}

#increment-button:hover{
    cursor: pointer;
}

#countSaved{
    font-variant: small-caps;
    font-size: 18px;
    font-weight: bold;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 10px;

    border-width: 2px;
    color: white;
    background-color: green;
    border-radius: 5px;
    border-style: none;

    transition: 0.3s;
}

#countSavedDisplay{
    font-size: 24px;
    font-weight: bold;
}

#countReset{
    font-variant: small-caps;
    font-size: 18px;
    font-weight: bold;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 10px;
    margin-top: 70px;

    border-width: 2px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border-style: none;

    transition: 0.3s;
}